*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #F9F3CC, #D2E0FB);
    padding: 0;
}

navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #00000083;
    font-weight: 600;
    font-size: large;
    float: left;
    text-align: right;
}
.fa-bars
{
    color: #8eaccd;
    font-size: 30px;
}

.navbar-toggler
{
    outline: none;
}

/* --------BANNER-------- */

#banner
{
    background-image: linear-gradient(to right, #f9f3cc, #d2e0fb);
    color: #0058b6;
    padding-top: 5%;
}

.promo-title
{
    font-size: 65px;
    font-weight: 600;
    margin-top: 100px;
}

.promo-subtitle
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: 50;
}

.play-btn
{
    width: 40px;
    margin: 2%;
}

#banner a
{
    text-decoration: none;
    font-family: cursive;
    font-size: 20px;
    font-weight: 70;
}
.bottom-img
{
    width: 100%;
}

/* ---------------SERVICES------------- */

#services
{
    padding: 80px 0;
}

.service-img
{
    width: 100px;
    margin-top: 20px;
}

.services
{
    padding: 20px;
}

.services h3
{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

#services .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #dbd086,  #73a1f7);
}

/* -----------------ABOUT US--------------- */

#about-us
{
    background: #d1d1d1;
    padding-bottom: 50px;
    padding-top: 50px;
}

.about-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

#about-us ul li
{
    margin: 10px 0;
}

#about-us ul
{
    margin-left: 20px;
}

/* ----------------TESTIMONIALS------------ */

#testimonials
{
    margin: 100px 0;
    padding: 100px 0;
}

.testimonials
{
    border-left: 4px solid #7b1798;
    padding-top: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonials img
{
    height: 80px;
    width: 80px;
    border-radius: 60%;
    margin: 0 10px;
}

.user-details
{
    display: inline-block;
    font-size: 15px;
}

/* ------------------SOCIAL PLATFORMS---------------- */

#social-media
{
    background: #f8f9fa;
    padding: 100px 0;
}

#social-media p
{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img
{
    width: 60px;
    transition: 0.5s;
}

.social-icons a:hover img
{
    transform: translateY(-10px);
}

/* ----------------FOOTER---------------- */

#footer
{
    background-image: linear-gradient(to right, #f9f3cc, #d2e0fb);
}

.footer-img
{
    width: 100%;
}

.footer-box
{
    padding: 20px;
}

.footer-box img
{
    width: 120px;
    margin-bottom: 20px;
}

.footer-box .fa
{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #f9f3cc,  #acc6f8);
}

.footer-box .form-control
{
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary
{
    box-shadow: none;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    background-image: linear-gradient(to right, #dbd086,  #73a1f7);
}

hr
{
    background-color: #fff;
}

.copyright
{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: right;
}
